.errorPage {
    .errorCode {
        font-size: 100px;
        font-family: $font-name-regular, 'Roboto', 'Tahoma';
    }
    p {
        font-family: $font-name-regular, 'Roboto', 'Tahoma';
    }
}
