.flickityCarousel {
    padding: 0 40px;

    .carousel-cell {
        height: auto;
        width: 33.3333%;
        padding: 0 $grid-gutter-width / 2;

        .card {
            min-height: 150px;
        }
    }
}

.flickity-enabled {
    position: relative;

    &:focus {
        outline: none;
    }
}

.flickity-viewport {
    height: 100%;
    overflow: hidden;
    position: relative;
}

.flickity-slider {
    width: 100%;
    height: 100%;
    position: absolute;
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .flickity-viewport {
        cursor: move;
        cursor: -webkit-grab;
        cursor: grab;
    }
    .flickity-viewport.is-pointer-down {
        cursor: -webkit-grabbing;
        cursor: grabbing;
    }
}

.flickity-button {
    position: absolute;
    background: hsla(0, 0%, 100%, 0.75);
    border: none;
    color: #333;
    &:hover {
        background: white;
        cursor: pointer;
    }
    &:focus {
        outline: none;
        box-shadow: 0 0 0 5px #19F;
    }
    &:active {
        opacity: 0.6;
    }
    &:disabled {
        opacity: 0.3;
        cursor: auto;
        pointer-events: none;
    }
}

.flickity-button-icon {
    fill: #333;
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%);

    .flickity-button-icon {
        position: absolute;
        left: 20%;
        top: 20%;
        width: 60%;
        height: 60%;
    }
}

.flickity-prev-next-button {
    &.previous {
        left: 0;
    }

    &.next {
        right: 0;
    }
}

.flickity-rtl {
    .flickity-prev-next-button {
        &.previous {
            left: auto;
            right: 0;
        }
        &.next {
            right: auto;
            left: 0;
        }
    }
    .flickity-page-dots {
        direction: rtl;
    }
}

.flickity-page-dots {
    margin: 0;
    padding: 0;
    width: 100%;
    bottom: -25px;
    line-height: 1;
    list-style: none;
    position: absolute;
    text-align: center;

    .dot {
        width: 10px;
        height: 10px;
        margin: 0 8px;
        opacity: 0.25;
        cursor: pointer;
        background: #333;
        border-radius: 50%;
        display: inline-block;

        &.is-selected {
            opacity: 1;
        }
    }
}
