.global-footer {
    position: relative;
    background-color: $gray-900;
    padding-top: $global-card-bottom + 40px;

    &:after {
        right: 0;
        bottom: 0;
        z-index: -1;
        content: '';
        width: 110%;
        height: 100%;
        position: absolute;
        background-color: $gray-900;
        transform-origin: right top;
        -webkit-transform-origin: right top;
        @include transform(rotate(3deg));
    }

    .footer-address {
        font-size: 11px;

        span {
            width: 3px;
            float: right;
            margin-left: 2px;
            background-color: $primary;

            &:nth-child(1) {
                height: 15px;
                margin-top: 15px;
            }
            &:nth-child(2) {
                height: 30px;
                margin-left: 10px;
            }
        }
    }

    .footer-darker {
        background-color: black;
        font-size: 11px;
    }
}
