.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1700px;
}

body {
    overflow-x: hidden;
}

.large {
    font-size: $font-size-lg;
}

.relative {
    position: relative;
}

.global-header {
    position: relative;
    padding-bottom: $global-card-top;

    &:after {
        top: 0;
        right: 0;
        z-index: -1;
        content: '';
        width: 110%;
        height: 100%;
        position: absolute;
        transform-origin: right bottom;
        -webkit-transform-origin: right bottom;
        background: url('#{$image-path}/bg-vector.png') repeat top center $primary;
        @include transform(rotate(3deg));
    }

    .global-card-avatar {
        font-size: 15px;
        margin-top: 130px;
        margin-bottom: - $global-card-top;

        h1 {
            font-size: 20px;
        }

        .global-card-point {
            font-size: 40px;
        }

        small {
            font-size: 11px;
            margin-top: -12px;
        }

        .global-image-card {
            width: 80px;
            height: 80px;
            display: table;
            overflow: hidden;
            margin: 0 auto 10px;
            border: 2px solid $white;
        }

        .global-side-menu {
            z-index: 2;
            font-size: 14px;

            @media (min-width: map-get($grid-breakpoints, 'lg')) {
                position: absolute;
                bottom: -300px;
            }

            li {
                padding: 5px 0;

                a {
                    color: $dark;
                    cursor: pointer;

                    &:hover {
                        color: $primary;
                    }
                    i {
                        font-size: 16px;
                        min-width: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
}

.global-card {
    z-index: 1;
    position: relative;
    margin-top: - $global-card-top;
    margin-bottom: - $global-card-bottom;

    .global-card-wrapper {
        @include border-radius($border-radius-lg);
    }
    .global-media-card {
        .card {
            @include transition($transition-base);
        }
        .card:hover {
            @include box-shadow-mix($box-shadow);
        }
    }
}

.global-image-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    > div {
        display: table;
        width: 100%;
        height: 100%;
        img {
            width: 100%;
        }
    }
}

.global-card-title {
    width: auto;
    display: inline;
    padding: 5px 10px;
    margin: -40px -5px 0;
}

.global-carousel {
    .carousel-item {
        overflow: hidden;
        @include border-radius($border-radius-lg $border-radius-lg 0 0);

        &.with-caption:after {
            top: 0;
            bottom: 0;
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba($black, 0.3);
        }
    }
}

.global-custom-title {
    h3 {
        top: -15px;
        padding-left: 20px;
        position: relative;
    }
}

@media (max-width: map-get($grid-breakpoints, 'lg')) {
    .global-header {
        padding-bottom: 10px;

        &:after {
            @include transform(rotate(0deg));
        }

        .global-card-avatar {
            margin: 10px 0;
        }

        .navbar {
            min-height: 20px;

            ul.navbar-nav {
                padding: 1rem 0;

                .nav-item {
                    font-size: 16px;
                    margin: 0 !important;
                }
            }

            .navbar-toggler {
                top: -32px;
                position: absolute;
            }
        }
    }
    .global-card {
        margin-top: 10px;
        margin-bottom: - $global-card-bottom;
    }
}
