.home-statistic {
    i {
        font-size: 25px;
    }
    .home-statistic-number {
        font-size: 22px;
    }
}

.home-table-point {
    .large {
        padding: 3px 5px;
        font-size: 22px;
    }
}

.home-slogan {
    line-height: 28px;
    h1 {
        font-size: 22px;
        font-weight: bold;
    }
}
