.ticker {
    width: 100%;
}

.ticker div {
    word-wrap: break-word;
    @media (min-width: map-get($grid-breakpoints, 'md')) {
        display: inline-block;
    }
    @media (max-width: map-get($grid-breakpoints, 'md')) {
        min-height: 40px;
    }
}
