$path:                  '/assets';

$font-path:             '#{$path}/fonts';
$image-path:            '#{$path}/images';
$font-name-bold:        iranYekanBold;
$font-name-regular:     iranYekan;

$global-card-top:       210px;
$global-card-bottom:    60px;
